.landing-header
    background url('img/landing/header.jpg') no-repeat
    background-size cover
    text-align center
    padding-top em(75)
    position relative
    
    .bg-overlay:before
        content ''
        background rgba($tan, .7)
        absolute top left
        width 100%
        height 100%
        
    .medallion
        display inline-block
        vertical-align sub

.site-title
    color $white
    $font-bold(30)
    text-shadow 0 0 4px $black
    margin-bottom em(30, 30)
    
.site-sub-title
    color $chestnut
    $font-regular(20)
    width em(515)
    max-width 100%
    margin 0 auto em(55, 20)
    text-shadow 0 0 2px $white
    
.Landing
    ////////// $Classes
    .sec
        padding em(10) 0 em(50)

    .sec-head
        margin-bottom em(30, 18)
        font-size em(18)

    ////////// $Structure
    .top-section
        margin-bottom em(70)
        
    .whats-include-text
        margin-bottom em($default-padding)
        text-align center

    .whats-included-link
        color $chestnut
        $font-italic(14, null, 30)
        
    .loop-showcase
        margin-bottom em(10)
        
    ///////// $WHAT IS IT
    /*section*/.what-is-it
        background $tan
        
    /*section*/.whats-included
        background rgba($tan, .3)
        
    /*.whats-included */.point
        text-align center
        
    .icon-img-row
        position relative
        margin-bottom em(30)
        
    /*.point img*/.icon-img
        display inline-block
        
    $what-is-bar-bg = #FDE4BA
    $what-is-left = #FDECCF
    $what-is-right = #E1BD92
    /*.whats-included */.what-is-bars
        background $what-is-bar-bg
        position relative
        
        &:before,
        &:after
            content ''
            absolute top
            height 100%
            width 25%
            display block
            
        &:before
            left 0
            background $what-is-left
            
        &:after
            right 0
            background $what-is-right
            
    .connector
        display inline-block
        position absolute
        top 50%
        transform translateY(-50%)
        color $brown-desat
        $font-semi(20)
        
        &.plus
            left 32%
            font-size em(30)
            
        &.at
            left 64%
            
    /*.container*/.what-container
        position relative
        z-index 1
        overflow hidden
        
    .what-is-bar
        $height = 96
        $tail-size = $height / 2
    
        padding em(20) 0
        text-align center
        $font-bold(18)
        
        &.bar-left
            background $what-is-left
            padding-left 7%
            
        &.bar-middle
            position relative
            
            &:before,
            &:after
                font-size 15px
                position absolute
                content ''
                width 0
                height 0
                border solid transparent
                pointer-events none
                border-width em($height)
                margin-top - em($height)

            &:before
                border-left-color $what-is-left
                left 0
                top 0
                
            &:after
                border-right-color $what-is-right
                right 0
                top 100%
            
        &.bar-right
            background $what-is-right
            padding-right 7%
            
    //////// $WHAT'S INCLUDED
    .includes-row
        margin-bottom em(70)
            
    /*include */.include-copy
        margin-bottom em(25)
        text-align center
        
    /*.include-copy h4*/.include-head
        $font-bold(18)
        color $brown-light

    /*.include-copy span*/.include-descrip
        color $chestnut
        $font-italic(16)

    .img-include
        border 3px solid $tan
        max-width em(232)
        margin 0 auto
        
        img
            width 100%
            height auto

