.landing-header
    background url('img/landing/header.jpg') no-repeat
    background-size cover
    text-align center
    padding-top em(75)
    position relative
    
    .bg-overlay:before
        content ''
        background rgba($tan, .7)
        absolute top left
        width 100%
        height 100%
        
    .medallion
        display inline-block
        vertical-align sub
        
    .head-cta
        +media('xs')
            width 100vw
            margin-left -15px
            font-size .9em

.site-title
    color $white
    $font-bold(30)
    text-shadow 0 0 4px $black
    margin-bottom em(30, 30)
    
.site-sub-title
    color $chestnut
    $font-regular(20)
    width em(515)
    max-width 100%
    margin 0 auto em(25, 20)
    text-shadow 0 0 2px $white
    
    +media('sm')
        margin-bottom em(55, 20)
    
.Landing
    $sec-pad-bot = 50
    ////////// $Classes
    .sec
        padding em(10) 0 em($sec-pad-bot)

    .sec-head
        font-size em(18)
        margin-bottom 1em

    ////////// $Structure
    .top-section
        margin-bottom em(40)
        
        +media('sm')
            margin-bottom em(70)
        
    .whats-include-text
        margin-bottom em($default-padding)
        text-align center

    .whats-included-link
        color $chestnut
        $font-italic(14, null, 30)
        
    .loop-showcase
        margin-bottom em(10)
        
    ///////// $WHAT IS IT
    $explico-padding = 2
    
    .what-is-it
        padding 0
        
        .sec-head
            position relative
            top 1em
            margin 0
            left 50%
            transform translateX(-50%)
        
    [class^="explico-"]
        padding unit($explico-padding, 'em') em(5)

        +media('xs')
            text-align center
            
        +media('sm')
            padding unit($explico-padding * 1.75, 'em')
    
    .explico-1
        background rgba($tan, .3)
        padding-top unit($explico-padding + 1, 'em')
            
        +media('sm')
            padding unit(($explico-padding * 1.75) + 1, 'em')
        
    .explico-2
        background rgba($tan, .6)
        
        +media('sm')
            .icon
                float right
        
    .explico-3
        background rgba($tan, .9)
        padding-bottom em($sec-pad-bot)
        

    /*h3*/.what-is-title
        color $brown-light
        $font-bold(20)
        margin-bottom .75em
        
    /*p*/.what-is-text
        color $black
        $font-regular(16)
        

    /*.point img*/.icon-img
        display inline-block
        
    //////// $LANDING FORM
    /*p*/.form-descrip
        padding 1em
        
            
    //////// $WHAT'S INCLUDED
    // .includes-row
    //     margin-bottom em(70)
            
    // /*include */.include-copy
    //     margin-bottom em(25)
    //     text-align center
        
    // /*.include-copy h4*/.include-head
    //     $font-bold(18)
    //     color $brown-light

    // .include-copy span.include-descrip
    //     color $chestnut
    //     $font-italic(16)

    // .img-include
    //     border 3px solid $tan
    //     max-width em(232)
    //     margin 0 auto
        
    //     img
    //         width 100%
    //         height auto

