$root-font-size = 15
$root-font-px = unit($root-font-size, 'px')

$button-font-size = 15

$max-width = 960px

$default-btn-padding = 10
$default-padding = 15
$reduced-padding = 10

$input-padding = 12

/************************/
/*****  !DEFAULTS   *****/
/************************/
$cta-color = $red
$cta-color-2 = $orange

//  Sizes
$nav-height = 50

$default-input-height = 43
$default-checkbox-size = 16
