// @font-face
//     font-family 'Open Sans'
//     src url(s('%sfonts/aller/aller-bold.eot', unquote(cdnBase)))
//     src url(s('%sfonts/aller/aller-bold.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
//         url(s('%sfonts/aller/aller-bold.woff', unquote(cdnBase))) format('woff'),
//         url(s('%sfonts/aller/aller-bold.ttf', unquote(cdnBase))) format('truetype'),
//         url(s('%sfonts/aller/aller-bold.svg#allerbold', unquote(cdnBase))) format('svg')
//     font-weight normal
//     font-style normal
