.mailchimp.list
    form
        text-align center !important

    /*h4*/.list-cta
        $font-regular(18, null, 30)
        margin-bottom em(15, 18)

    .email-input
        @extends .middle-align
        
        +media('sm')
            width 65% !important
            min-height 0 !important
            padding 0 !important
        
    .email
        padding em($input-padding) !important

    .submit
        margin 0 !important
        display inline-block !important
        vertical-align top
        
    #mc_embed_signup
        background none